.carform{
  width: 998px;
  margin-top: 75px;
  margin-bottom: 75px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  text-align: center;
  border: 1px solid #c97400;
}

.carform > h1{
    margin-left: 98px;
    text-align: left;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 50px;
}

.inputdivs{
  width: 450px;
  margin-left: 100px;
  margin-top: 20px;
}

.inputdivs > h2{
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 20px;
  text-align: left;
  font-weight: normal;
}

.left > h2{
  float: left;
}

.carinput{
  box-sizing: border-box;
  border: 2px solid #ddd;
  background-color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  padding: 5px;
  padding-left: 10px;
  margin-top: 5px;
}

.big{
  width: 450px;
  font-size: 20px;
}

.small{
  width: 240px;
  height: 30px;
  font-size: 16px;
  float:right;
}

.smaller{
  width: 200px;
}

.carinput:focus{
  border: 2px solid #c97400;
  background-color: #fce7cc;
  color: #c97400;
}

.errordivs{
  text-align: left;
  margin-left: 110px;
  color: #c60000;
}

.radioFuel{
  float: right;
  margin-left: 40px;
}

.select select{
  float: right;
  font-size: 16px;
  height: 30px;
  padding: 5px;
  width: 240px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: white;
}

.select select:focus{
  border: 2px solid #c97400;
  background-color: #fce7cc;
  color: #c97400;
}

.right{
  float:right;
}

.datediv{
  float:left;
}

.datediv > h2{
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 20px;
  text-align: left;
  font-weight: normal;
}

input[type="date"] {
  box-sizing: border-box;
  border: 2px solid #ddd;
  background-color: #ffffff;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  padding: 3px;
  padding-left: 10px;
  margin-top: 5px;
  width: 240px;
  height: 30px;
}

 input[type="date"]:focus {
  border: 2px solid #c97400;
  background-color: #fce7cc;
  color: #c97400;
}

.inputdivs > textarea{
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.calc{
  float:right;
  width: 40px;
  padding-top: 7px;
}

.icon-calc:hover{
  color: #c97400;
  cursor: pointer;
}

.pricediv{
  float: right;
}

.pricediv > h2{
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 20px;
  text-align: left;
  font-weight: normal;
}

.pricediv > .errordivs{
  text-align: left;
  margin-left: 10px;
  color: #c60000;
}

.price {
  width: 150px;
  box-sizing: border-box;
  border: 2px solid #ddd;
  background-color: #ffffff;
  border-radius: 5px;
  outline: none;
  font-size: 20px;
  padding: 5px;
  padding-left: 10px;
  margin-top: 5px;
  float: right;
}

.price:focus{
  border: 2px solid #c97400;
  background-color: #fce7cc;
  color: #c97400;
}

.submitdiv{
    width: 300px;
    float: left;
    margin-bottom: 50px;
    margin-left: 250px;
    margin-top: 50px;
}

.submit{
    width: 300px;
    background-color: #c97400;
    font-size: 20px;
    padding: 15px 10px;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    color: #ffffff;
}

.submit:hover{
    background-color: #c96400;
}

.submit:focus{
    background-color: #c96400;
}

input[type="checkbox"]{
  transform: scale(1.5);
}

input[type="text"]:disabled{
  background-color: #dbdcdd;
}

input[type="date"]:disabled{
  background-color: #dbdcdd;
}

textarea:disabled{
  background-color: #dbdcdd;
}
