
.icon-pencil:before { content: '\e800'; } /* '' */
.icon-trash-empty:before { content: '\e801'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */